.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(25, 25, 25);
}

.not-found-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
  background: rgb(25, 25, 25);
  border-radius: 50%;
}

.not-found-text_error {
  font-size: 36px;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
  letter-spacing: 1px;
}
